<%= form_for(@user) do |f| %>
<p align="center"><img src="/images/login_sign.png" alt="" /></p>
  <p class="text" align="center">Username</p>
  <p align="center"><%= f.text_field :username %></p>
  
   <p class="text" align="center">Email</p>
    <p align="center"><%= f.email_field :email %></p>
  
      <p class="text" align="center">Password</p>
      <p align="center"><%= f.password_field :password %></p>
  
      <p class="text" align="center">Confirm Password</p>
      <p align="center"><%= f.password_field :password_confirmation %></p>
  
  
  <% if can? :new, @user %>
      <% for role in Role.find(:all) %>
       <div>
      <% if current_user.role_id == 1 %>
        <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
        <%= role.name %> 
        <% elsif %>
      <% if role.name == "admin" %>
        <%= f.hidden_field :s_id, :value => current_user.id %>
        <%= check_box_tag "user[role_ids][]", 3, @user.roles.include?(role) %>
        <%= "Staff" %>
      <% end  %>
      <p align="center" class="sing_btn"><%= f.submit "Update User"%></p>
      <% end %>
       </div>
       
       <% end %>
       <% end %>
       <% end %>
