<!--sign in area defined-->
<div id="signIn_area">
	<div class="sign_in_tp">
    	<div class="sign_left">
        	<div class="sign_right">
             	<h1>New Customer</h1>
             	
          </div>
        </div>
        
    </div>
    
	<div class="sign_left_slc">
      
    	<div class="sign_right_slc">
        <div class="tabs">
       	  <div id="TabbedPanels1" class="TabbedPanels">
        	  <ul class="TabbedPanelsTabGroup">
        	    <li class="TabbedPanelsTab" tabindex="0">General</li>
        	    <li class="TabbedPanelsTab" tabindex="1">Contacts</li>
                 <li class="TabbedPanelsTab" tabindex="2">Credit Control </li>
                  <li class="TabbedPanelsTab" tabindex="3">Orders</li>
                  <li class="TabbedPanelsTab" tabindex="4">Communications </li>
                  <li class="TabbedPanelsTab" tabindex="5">Notes    </li>
      	    </ul>
        	  <div class="TabbedPanelsContentGroup">
        	    <!-- Genral Tab content  -->
        	    <div class="signUp_area">
        	    <div class="TabbedPanelsContent">
        	        <%= nested_form_for(@customer) do |f| %>
                    <% if @customer.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

                        <ul>
                        <% @customer.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    
                    <p class="lable">Company Name</p>
                    <p class="field"><%= f.text_field :company_name %></p>
                    
                    <p class="lable">VAT Number</p>
                    <p class="field"><%= f.text_field :vat_number %></p>
                    
                    <p class="lable">VAT Rate</p>
                    <p class="field"><%= f.text_field :vat_rate %></p>
                    
                    <p class="lable">GL Code</p>
                    <p class="field"><%= f.text_field :gl_code %></p>
                    
                    <p class="lable">Account Number(Internal)</p>
                    <p class="field"><%= f.text_field :acc_noi %></p>
                    
                    
                    <p class="lable">Account Number(External)</p>
                    <p class="field"><%= f.text_field :acc_noe %></p></br>
                    
                    <div class="field">
                       <%= f.hidden_field :user_id, :value => current_user.id %>
                     </div>
                  
                     
                   
        	    </div>
        	    </div>
        	    <!-- General Tab Content Ends  -->
        	    <!-- Contact Tab Content -->
            
        	  <div class="TabbedPanelsContent">
        	    <%= f.fields_for :contacts do |builder| %>
        	    <%= render "contact_fields", :f => builder %>
              <% end %>
              <p><%= link_to_add_fields "Add Contact", f, :contacts %></p>
            	
              </div>
              
        
        	    <!-- Contact Tab Ends Here-->
                
              <!-- Credit Tab Starts Here-->
                <div class="TabbedPanelsContent">
                  
                  <p class="lable">Credit Limit</p>
                  <p class="field"><%= f.text_field :credit_limit %></p></br>
                  
                  <p class="lable">Settelment Due</p>
                  <p class="field"><%= f.text_field :settelment_due %></p></br>
                  
                  <p class="lable">Settelment Discount</p>
                  <p class="field"><%= f.text_field :settelment_discount %></p></br>
                  
                  <p class="lable">Trading Terms</p>
                  <p class="field"><%= f.text_field :trading_terms %></p></br>
                  
                  <p class="lable">Credit Position</p>
                  <p class="field"><%= f.text_field :credit_position %></p></br>
                  
                  <p class="lable">Account On Hold</p>
                  <p class="field"><%= f.text_field :account_on_hold %></p></br>
                </div>
               
              <!-- Credit Tab Ends Here-->
                
                <div class="TabbedPanelsContent"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 

Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. </p></div>
              
              <!-- Communications Tab Starts Here-->
              
                <div class="TabbedPanelsContent">
                <%= f.fields_for :communications do |builder| %>
                  <%= render "communication_fields", :f => builder%>
                  
              <% end %>
              <p><%= link_to_add_fields "Add Communication", f, :communications %></p>
              </div>
              <!-- Communications Tab Ends Here-->  
                <div class="TabbedPanelsContent"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 

Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. </p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 

Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. </p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 

Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. </p>
</div>
                
      	    </div>
      	  </div>
           
           <div class="clear">
            
           </div> 
           
           <p align="center" class="submit"><%= f.submit " ", :class =>'submit'%></p>
          
           <% end %>    
         </div>   
          
         <div class="clear"></div>       
      </div>
    </div>
    
    <div class="sign_ftr_slc">
    	<div class="sign_ftr_left">
        	<div class="sign_ftr_right">
            
            	
              
                
            </div>
        </div>
    </div>
</div>
<!--sign in area defined-->
<script type="text/javascript">
<!--
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
//-->
</script>
