<!--sign in area defined-->
<div id="signIn_area">
	<div class="sign_in_tp">
    	<div class="sign_left">
        	<div class="sign_right">
             	<h1>New Customer</h1>
          </div>
        </div>
    </div>
    
	<div class="sign_left_slc">
    
    	<div class="sign_right_slc">
        <div class="tabs">
		<%= nested_form_for(@customer) do |f| %>
       	  <div class="tabber">

     <div class="tabbertab">
	  <h2>General</h2>
	
		
	    
         	<% if @customer.errors.any? %>
           		<div id="error_explanation">
             	<h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

             	<ul>
             		<% @customer.errors.full_messages.each do |msg| %>
               		<li><%= msg %></li>
             		<% end %>
             	</ul>
           		</div>
         	<% end %>
         
         	<p class="lable">Company Name</p>
         	<p class="field"><%= f.text_field :company_name %></p>
         
         	<p class="lable">VAT Number</p>
         	<p class="field"><%= f.text_field :vat_number %></p>
         
         	<p class="lable">VAT Rate</p>
         	<p class="field"><%= f.text_field :vat_rate %></p>
         
        		<p class="lable">GL Code</p>
         	<p class="field"><%= f.text_field :gl_code %></p>
         
             <p class="lable">Account Number(Internal)</p>
             <p class="field"><%= f.text_field :acc_noi %></p>
         
         
             <p class="lable">Account Number(External)</p>
             <p class="field"><%= f.text_field :acc_noe %></p></br>
         
            	
         <%= f.hidden_field :user_id, :value => current_user.id %>
	  
     </div>


     <div class="tabbertab">
	  <h2>Contacts</h2>
	
		<%= f.fields_for :contacts do |builder| %>
	      <%= render "contact_fields", :f => builder %>
   	<% end %>
   <p><%= link_to_add_fields "Add Contact", f, :contacts %></p>
			
     </div>
	 
	      <div class="tabbertab">
	  <h2>Credit Limit</h2>
	  <p class="lable">Credit Limit</p>
       <p class="field"><%= f.text_field :credit_limit %></p></br>

       <p class="lable">Settelment Due</p>
       <p class="field"><%= f.text_field :settelment_due %></p></br>

       <p class="lable">Settelment Discount</p>
       <p class="field"><%= f.text_field :settelment_discount %></p></br>

       <p class="lable">Trading Terms</p>
       <p class="field"><%= f.text_field :trading_terms %></p></br>

       <p class="lable">Credit Position</p>
       <p class="field"><%= f.text_field :credit_position %></p></br>

       <p class="lable">Account On Hold</p>
       <p class="field"><%= f.text_field :account_on_hold %></p></br>
     </div>
	 
	      <div class="tabbertab">
	  <h2>Communications</h2>
	  	<%= f.fields_for :communications do |builder| %>
     	<%= render "communication_fields", :f => builder%>
     
 		<% end %>
 		<p><%= link_to_add_fields "Add Communication", f, :communications %></p>
	      </div>
	 
	 <div class="tabbertab">
	  <h2>Notes</h2>
	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.

Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. </p>
	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodomollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.

Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. </p>
	 </div>
	 <p align="center" class="submit"><%= f.submit " ", :class =>'submit'%></p>

	

</div><% end %>
          
           <div class="clear"></div>       
         </div>   
          
         <div class="clear"></div>       
      </div>
    </div>
    
    <div class="sign_ftr_slc">
    	<div class="sign_ftr_left">
        	<div class="sign_ftr_right">
            
              
                
            </div>
        </div>
    </div>
</div>
<!--sign in area defined-->










