<!--sign in area defined-->
<div id="signIn_area">
	<div class="sign_in_tp">
    	<div class="sign_left">
        	<div class="sign_right">
             	<h1>Customer Information</h1>
          </div>
        </div>
    </div>
    
	<div class="sign_left_slc">
    
    	<div class="sign_right_slc">
        <div class="tabs">
       	  <div id="TabbedPanels1" class="customer">
        	  <ul class="customerTabGroup">
        	    <li class="customerTab" tabindex="0" style="margin:0 0 0 20px">General</li>
        	    <li class="customerTab" tabindex="0">Contacts</li>
                 <li class="customerTab" tabindex="0">Credit Control </li>
                  <li class="customerTab" tabindex="0">Orders</li>
                  <li class="customerTab" tabindex="0">Communications </li>
                  <li class="customerTab" tabindex="0">Notes    </li>
      	    </ul>
        	  <div class="customerContentGroup">
        	    <div class="customerContent">
                	<table width="100%" border="0" cellspacing="2" cellpadding="2">
                      <tr>
                        <td valign="top" width="50%">
                        	<div style="background:#E6E6E6; padding:1px">
                            	<table width="100%" border="0" cellspacing="1" cellpadding="1">
                                  <tr>
                                    <th>Company Name</th>
                                  </tr>
                                  <tr>
                                    <td><%= @customer.company_name %></td>
                                  </tr>
                                  <tr>
                                    <th>VAT Number</th>
                                  </tr>
                                  <tr>
                                    <td><%= @customer.vat_number %></td>
                                  </tr>
                                  <tr>
                                    <th>VAT Rate</th>
                                  </tr>
                                  <tr>
                                    <td><%= @customer.vat_rate %></td>
                                  </tr>
                                </table>

                            </div>
                        </td>
                        <td valign="top" width="50%"><div style="background:#E6E6E6; padding:1px">
                            	<table width="100%" border="0" cellspacing="1" cellpadding="1">
                                  <tr>
                                    <th>GL Code</th>
                                  </tr>
                                  <tr>
                                    <td><%= @customer.gl_code %></td>
                                  </tr>
                                  <tr>
                                    <th>Account Number (Internal)</th>
                                  </tr>
                                  <tr>
                                    <td><%= @customer.acc_noi %></td>
                                  </tr>
                                  <tr>
                                    <th>Account Number (External)</th>
                                  </tr>
                                  <tr>
                                    <td><%= @customer.acc_noe %></td>
                                  </tr>
                                </table>

                            </div></td>
                      </tr>
                    </table>

                </div>
        	    <div class="customerContent">
        	    <% for contact in @customer.contacts %>
                	<table width="100%" border="0" cellspacing="2" cellpadding="2">
                      <tr>
                        <td valign="top" width="50%">
                        	<div style="background:#E6E6E6; padding:1px">
                        	
                            	<table width="100%" border="0" cellspacing="1" cellpadding="1">
                                  <tr>
                                    <th>Contact Name</th>
                                  </tr>
                                  <tr>
                                    <td><%=h contact.contact_name %></td>
                                  </tr>
                                  <tr>
                                    <th>Contact Position</th>
                                  </tr>
                                  <tr>
                                    <td><%=h contact.contact_position %></td>
                                  </tr>
                                  <tr>
                                    <th>Contact Number</th>
                                  </tr>
                                  <tr>
                                    <td><%=h contact.contact_number %></td>
                                  </tr>
                                </table>

                            </div>
                        </td>
                        <td valign="top" width="50%"><div style="background:#E6E6E6; padding:1px">
                            	<table width="100%" border="0" cellspacing="1" cellpadding="1">
                                  <tr>
                                    <th>Mobile Number</th>
                                  </tr>
                                  <tr>
                                    <td><%=h contact.contact_mobile_number %></td>
                                  </tr>
                                  <tr>
                                    <th>Email Address</th>
                                  </tr>
                                  <tr>
                                    <td><%=h contact.contact_email %></td>
                                  </tr>
                                  
                                </table>
                                
                            </div></td>
                      </tr>
                    </table>
                    
                    <% end %>
                </div>
                <div class="customerContent">
                  <table width="100%" border="0" cellspacing="2" cellpadding="2">
                                <tr>
                                  <td valign="top" width="50%">
                                  	<div style="background:#E6E6E6; padding:1px">
                                      	<table width="100%" border="0" cellspacing="1" cellpadding="1">
                                            <tr>
                                              <th>Credit Limit</th>
                                            </tr>
                                            <tr>
                                              <td><%= @customer.credit_limit %></td>
                                            </tr>
                                            <tr>
                                              <th>Settelment Due</th>
                                            </tr>
                                            <tr>
                                              <td><%= @customer.settelment_due %></td>
                                            </tr>
                                            <tr>
                                              <th>Settelment Discount</th>
                                            </tr>
                                            <tr>
                                              <td><%= @customer.settelment_discount %></td>
                                            </tr>
                                          </table>

                                      </div>
                                  </td>
                                  <td valign="top" width="50%"><div style="background:#E6E6E6; padding:1px">
                                      	<table width="100%" border="0" cellspacing="1" cellpadding="1">
                                            <tr>
                                              <th>Trading Terms</th>
                                            </tr>
                                            <tr>
                                              <td><%= @customer.trading_terms %></td>
                                            </tr>
                                            <tr>
                                              <th>Credit Position</th>
                                            </tr>
                                            <tr>
                                              <td><%= @customer.credit_position %></td>
                                            </tr>
                                            <tr>
                                              <th>Account On Hold</th>
                                            </tr>
                                            <tr>
                                              <td><%= @customer.account_on_hold %></td>
                                            </tr>
                                          </table>

                                      </div></td>
                                </tr>
                              </table>
                </div>
                <div class="customerContent">
                  Orders Content
                </div>
                <div class="customerContent">
                <% for communication in @customer.communications %>
                <table width="100%" border="0" cellspacing="2" cellpadding="2">

                            <tr>

                              <td valign="top" width="50%">
                              	<div style="background:#E6E6E6; padding:1px">
                              		
                                  	<table width="100%" border="0" cellspacing="1" cellpadding="1">
                                        <tr>
                                          <th>Communication Date</th>
                                        </tr>
                                        <tr>
                                          <td><%=h communication.comm_date%></td>
                                        </tr>
                                        <tr>
                                          <th>Contact Type </th>
                                        </tr>
                                        <tr>
                                          <td><%=h communication.comm_type %></td>
                                        </tr>
                                        <tr>
                                          <th>Communication Subject </th>
                                        </tr>
                                        <tr>
                                          <td><%=h communication.comm_subject %></td>
                                        </tr>
                                      </table>

                                  </div>
                              </td>
                              <td valign="top" width="50%"><div style="background:#E6E6E6; padding:1px">
                                  	<table width="100%" border="0" cellspacing="1" cellpadding="1">
                                        <tr>
                                          <th>Communication Notes </th>
                                        </tr>
                                        <tr>
                                          <td><%=h communication.comm_notes %></td>
                                        </tr>


                                      </table>
        							                
                                  </div>

                                </td>

                            </tr>

                          </table>
                        <% end %>
                </div>
                <div class="customerContent">
                  Notes Content
                </div>
                
      	    </div>
      	  </div>
          
           <div class="clear"></div>       
         </div>   
          
         <div class="clear"></div>       
      </div>
    </div>
    
    <div class="sign_ftr_slc">
    	<div class="sign_ftr_left">
        	<div class="sign_ftr_right">
                
            </div>
        </div>
    </div>
</div>
<!--sign in area defined-->


</div>
<script type="text/javascript">
<!--
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
//-->
</script>