<!--sign in area defined-->
<div id="signIn_area">
	<div class="sign_in_tp">
    	<div class="sign_left">
        	<div class="sign_right">
             	<h1>Listing of Companies</h1>
          </div>
        </div>
    </div>
    
	<div class="sign_left_slc">
    
    	<div class="sign_right_slc">
        <div class="userListing">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th align="left">S.N.</th>
    <th align="left">Company Name</th>
    <th align="left">Company Address</th>
    <th align="left">Phone Number</th>
        <th align="left" class="border-right">Action</th>
    </tr>
  <% @companies.each do |company| %>
    <tr>
      <td class="border-bottom"><%= company.id %></td>
      <td class="border-bottom"><%= company.company_name %></td>
      <td class="border-bottom"><%= company.company_address %></td>
      
      <td class="border-bottom"><%= company.phone_number %></td>
      
      <td class="border-bottom-right"><%= link_to 'View', company %> | <%= link_to 'Edit', edit_company_path(company) %> | <%= link_to 'Destroy', company , :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

        </div>
        
         <div class="clear"></div>       
      </div>
    </div>
    
    <div class="sign_ftr_slc">
    	<div class="sign_ftr_left">
        	<div class="sign_ftr_right">
                
            </div>
        </div>
    </div>
</div>
<!--sign in area defined-->
