<!--sign in area defined-->
<div id="signIn_area">
	<div class="sign_in_tp">
    	<div class="sign_left">
        	<div class="sign_right">
             	<h1>Company Information</h1>
          </div>
        </div>
    </div>
    
	<div class="sign_left_slc">
    
    	<div class="sign_right_slc">
             
             <div class="profile_page">
             	<table width="100%" border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td width="18%" valign="top"><div><img src="/images/avtar.png" alt="" /></div></td>
    <td width="82%" valign="top">
    	<h2>Company Information</h2>
        <table width="100%" border="0" cellspacing="2" cellpadding="2">
          <tr>
            <td width="22%">Company Name : </td>
            <td width="88%"><%= @company.company_name %></td>
          </tr>
          <tr>
            <td>Company Address :  </td>
            <td><%= @company.company_address %></td>
          </tr>
          
           <tr>
             <td>Post Code :  </td>
             <td><%= @company.post_code %></td>
           </tr>
           <tr>
              <td>Phone Number :  </td>
              <td><%= @company.phone_number %></td>
            </tr>
            <tr>
                <td>Fax Number :  </td>
                <td><%= @company.fax_number %></td>
              </tr>
              <tr>
                  <td>Web Address :  </td>
                  <td><%= @company.web_url %></td>
              </tr>
          
                
        </table><br />
        <h2>Other Information</h2>
         <table width="100%" border="0" cellspacing="2" cellpadding="2">
          <tr>
              <td width="15%">VAT Number :  </td>
              <td width="88%"><%= @company.vat_no %></td>
          </tr>
          <tr>
              <td>VAT Rate :  </td>
              <td><%= @company.vat_rate %></td>
          </tr>
          
           <tr>
               <td>Registration Number :  </td>
               <td><%= @company.reg_no %></td>
           </tr>
           <tr>
                <td>Company Number :  </td>
                <td><%= @company.company_number %></td>
            </tr>
            <tr>
                  <td>Currency :  </td>
                  <td><%= @company.currency %></td>
              </tr>
          
                
        </table>

    </td>
  </tr>
  
</table>

<%= link_to '', edit_company_path(@company), :class => 'edit' %> &nbsp;&nbsp; <%= link_to '', companies_path, :class => 'back' %>

             </div>
             
        
         <div class="clear"></div>       
      </div>
    </div>
    
    <div class="sign_ftr_slc">
    	<div class="sign_ftr_left">
        	<div class="sign_ftr_right">
            
                
            </div>
        </div>
    </div>
</div>
<!--sign in area defined-->