    <tr>
    <td class="border-bottom"><%= category.category_name %></td>
    
    <% if params[:parent_id].nil? %>
      <td class="border-bottom"><%= category.category_type %></td>
    <td class="border-bottom-right"><%= link_to 'View', category %> | <%= link_to 'Edit', edit_category_path(category) %> | <%= link_to "Add Sub Category", new_category_path(:parent_id => category)%> | <%= link_to 'Destroy', category , :confirm => 'Are you sure?', :method => :delete %></td>
   <% end %>
    </tr>
    
  