<div class="fields">
    <p class="lable">By Unit</p>
    <p class="field"><%= f.text_field :by_unit %></p>
    
    <p class="lable">By Area</p>
    <p class="field"><%= f.text_field :by_area %></p>
    
    <p class="lable">By Length</p>
    <p class="field"><%= f.text_field :by_length %></p>
    
    <p class="lable">By Volume</p>
    <p class="field"><%= f.text_field :by_volume %></p>
    
    <p class="lable">By Weight</p>
    <p class="field"><%= f.text_field :by_weight %></p>
     
</div>