<div class="fields">
    <p class="lable">Credit Limit</p>
     <p class="field"><%= f.text_field :credit_limit %></p></br>

     <p class="lable">Settlement Due</p>
     <p class="field"><%= f.text_field :settlement_due %></p></br>
     
     <p class="lable">Settlement Discount</p>
      <p class="field"><%= f.text_field :settlement_discount %></p></br>
      
      <p class="lable">Payment Due</p>
        <p class="field"><%= f.text_field :payment_due %></p></br>
        
        <p class="lable">Trading Terms</p>
          <p class="field"><%= f.text_field :trading_terms %></p></br>
          
          <p class="lable">Trading Date</p>
            <p class="field"><%= f.date_select("account_date")%></p></br>
     
     
   </div>