<div class="fields">
    <p class="lable">Contact Name</p>
     <p class="field"><%= f.text_field :contact_name %></p></br>

     <p class="lable">Contact Position</p>
     <p class="field"><%= f.text_field :contact_position %></p></br>
     
     <p class="lable">Contact Number</p>
      <p class="field"><%= f.text_field :contact_number %></p></br>
      
      <p class="lable">Contact Mobile Number</p>
        <p class="field"><%= f.text_field :contact_mobile %></p></br>
        
        <p class="lable">Contact Email</p>
          <p class="field"><%= f.text_field :contact_mail %></p></br>
     
     <p><%= link_to_remove_fields "remove", f %></p>
   </div>