<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FloorSYS | Dashboard </title>
<%= stylesheet_link_tag (['style.css','mm/ddlevelsmenu-base.css','mm/ddlevelsmenu-topbar.css','mm/ddlevelsmenu-sidebar.css','mm/SpryTabbedPanels.css', 'tab'])%>
<%= javascript_include_tag 'ddlevelsmenu.js','SpryTabbedPanels.js','prototype.js','application.js','rails.js', 'tabber' %>
<%= javascript_include_tiny_mce_if_used %> 
<%= tiny_mce if using_tiny_mce? %>

<script type="text/javascript">

/* Optional: Temporarily hide the "tabber" class so it does not "flash"
   on the page as plain HTML. After tabber runs, the class is changed
   to "tabberlive" and it will appear. */

document.write('<style type="text/css">.tabber{display:none;}<\/style>');
</script>

<script type="text/javascript">
ddlevelsmenu.setup("navlist", "topbar") //ddlevelsmenu.setup("mainmenuid", "topbar|sidebar")
</script>

<script type="text/javascript">
ddlevelsmenu.setup("navlist1", "topbar") //ddlevelsmenu.setup("mainmenuid", "topbar|sidebar")
</script>
</head>

<body>
<div id="wrapper">
<!--head bar start-->
<div id="hd_bar">
	<div class="hd_left">
    	<div class="hd_right">
        	<h1>FloorSYS</h1>
            <div class="menuBar">
            	<ul id="navlist" >
                <li><a href="#" rel="ddsubmenu1" >Customers</a></li>
                <li><a href="#" rel="ddsubmenu2">Suppliers</a></li>
                <li><a href="#" rel="ddsubmenu3">Fitters</a></li>
                <li><a href="#" rel="ddsubmenu4"> Products</a></li>
                <li><a href="#"> &nbsp;</a></li>   
            </ul>
            <ul id="ddsubmenu1" class="ddsubmenustyle1">
                <li><%= link_to "New Customer", new_customer_path%></li>
                <li><%= link_to "Edit Customer", customers_path %></li>
                <li><a href="#">New Quotation</a></li>
                <li><a href="#">New Sales Order</a></li> 
                <li><a href="#">New Invoice</a></li>
                <li><a href="#">New Credit </a></li> 
                <li><a href="#">New Complaint</a></li>  
                <li><a href="#">Cash Register</a></li>   
                <li><%= link_to "Customer List", customers_path %></li>  
                <li><a href="#">Quotation List</a></li>
                <li><a href="#">Sales Order List </a></li> 
                <li><a href="#">Invoice List</a></li>  
                <li><a href="#">Complaint List </a></li>                      
            </ul>
            <ul id="ddsubmenu2" class="ddsubmenustyle1">
                <li><%= link_to "New Supplier", new_supplier_path %></li>
                <li><%= link_to "Edit Supplier", suppliers_path %></li>
                <li><a href="#">New Purchase Order</a></li>
                <li><%= link_to "Supplier List", suppliers_path %></li> 
                <li><a href="#">Purchase Order List </a></li>
                <li><a href="#">Cash Register</a></li>                 
            </ul>
             <ul id="ddsubmenu3" class="ddsubmenustyle1">
                <li><a href="#">New Fitter</a></li>
                <li><a href="#">Edit Fitters</a></li>
                <li><a href="#">New Fitter Invoice</a></li>
                <li><a href="#">Fitters List </a></li>           
            </ul>
            <ul id="ddsubmenu4" class="ddsubmenustyle1">
                <li><%= link_to "New Product", new_product_path %></li>
                <li><%= link_to "Edit product", products_path %></li>
                <% if can? :new, @category %>
                <li><%= link_to "New Category", new_category_path %></li>
                <li><%= link_to "Edit Category", categories_path %></li>  
                <% end %>
                <li><%= link_to "List Categories", categories_path %></li> 
                <li><%= link_to "List Products", products_path %></li> 
                <li><a href="#">List Prices </a></li> 
                          
            </ul>
            </div>
            
            <div class="search_area">
            	<div class="inner"><input type="text" class="search_bk" />  <input type="image" src="/images/search_ic.gif" height="14"  width="15" class="ico" />  </div>
            </div>
            <div class="bar1"><img src="/images/bar.png" alt="" /></div>
            <div class = "signout">
              <%= link_to image_tag("/images/sign_out.png", :border => 0), destroy_user_session_path %> 
            </div>
            <div class="bar2"><img src="/images/bar.png" alt="" /></div>
            <div class="setting">
				<div class="menuBar" style="position:relative; ">
            <ul id="navlist1">
				<li><a href="#" rel="ddsubmenu5" style="background:none; padding:18px 0 3px 0;"><img src="/images/setting.png" alt="" height="22" />&nbsp;</a>
				<ul id="ddsubmenu5" class="ddsubmenustyle1" style="margin-left:-97px; overflow:hidden">
					 <% if can? :new, @user%>
					 <li><a href="/companies/new">Create Company</a></li>
                	<li><a href="/users/new">Create Staff</a></li>
            <% end %>
				</ul>
				</li>
			</ul>
            </div>
			</div>
            
      </div>
    </div>
</div>
<!--head bar end-->

<%= yield %>
</div>
<p class="copyright" align="center">Copyright &copy; 2012, Floorserve Limited, All Rights Reserved.</p>

</body>
</html>